.DS_Store
**/.build
**/.swiftpm/xcode
/.devContainer
/Packages
/*.xcodeproj
xcuserdata/
**/.vscode/*
!/.vscode/hummingbird.code-snippets
**/.env
/PostgreSQL/ParksOfPrague/.swiftpm/xcode/package.xcworkspace/xcuserdata/szabolcs.xcuserdatad/UserInterfaceState.xcuserstate
/PostgreSQL/ParksOfPrague/.swiftpm/xcode/package.xcworkspace/xcuserdata/szabolcs.xcuserdatad/UserInterfaceState.xcuserstate
